.card {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 8px;
    width: 200px !important; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
    transition: transform 0.2s ease-in-out;
  }
  
 
  .card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px; 
  }
  
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  

  .doctor-image {
    width: 100%; /* Haz que la imagen ocupe el 100% del ancho de la tarjeta */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
  }
  

  .card-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}